/* Basic CSS for styling */
h1 {
    text-align: center;
  }
  
  input {
    margin: 5px;
    padding: 5px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    margin: 5px;
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  #ingredient-container {
    text-align: center;
  }
  
  #recipe-results {
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
  }
  
  #recipe-results {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .recipe-item {
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 10px;
    padding: 10px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .recipe-label {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .recipe-image {
    width: 100%;
    border-radius: 5px;
  }
  
  .recipe-link {
    display: block;
    margin-top: 10px;
    color: #007bff;
    text-decoration: none;
  }
  
  .recipe-link:hover {
    text-decoration: underline;
  }